/.idea
.DS_Store
*.elf
*.bin
*.dbg
**/target/
/.axconfig.*
*.img
/kernel-rv
/kernel-la
/.cargo
/.crates*
/mnt
*.swp
*.swo

# temp
*.log
.local-toolchains/
logs/
temp/
REASONIX.md
resonix.toml

# workflow
.codex/
.agents/
.claude/
**/.claude/
workflow/
REASONIX.md

# target
kernel-rv
kernel-la

# unknown
src/make/sdcard-la.img:Zone.Identifier
src/make/sdcard-rv.img:Zone.Identifier
testsuits-for-oskernel/

# understand-anything
.understand-anything_en/
.understand-anything/
